version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: nightfall-postgres
    environment:
      POSTGRES_DB: nightfall
      POSTGRES_USER: nightfall
      POSTGRES_PASSWORD: nightfall_dev_2025
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:6-jammy
    container_name: nightfall-mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    container_name: nightfall-redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  mongo_data:
  redis_data:
